<h1>{{ title }}</h1>

<!--<p>This is a paragraph!-->
<!--Now let's all go for a {{ favouriteDessert }}.</p>-->

<!--<table class="table table-striped">-->
    
<!--    <thead>-->
<!--        <tr>-->
<!--            <td>Name</td>-->
<!--            <td>Description</td>-->
<!--        </tr>-->
<!--    </thead>-->
    
<!--    <tbody>-->
<!--        <tr ng-repeat="dessert in desserts">-->
<!--            <td>{{ dessert.name }}</td>-->
<!--            <td>{{ dessert.description }}</td>-->
<!--        </tr>-->
<!--    </tbody>-->
    
<!--</table>-->

<!--<a href="/add">Add a new dessert</a>-->